// Media sizes
$phoneWidth: 650px;
$tabletWidth: 768px;
$desktopWidth: 992px;
$largeDesktopWidth: 1200px;

// Colors
$white: #FFF;
$black: #000;
$casal: #2A6F5D;
$silverChalice: #A8A8A8;
$endeavour: #0053A3;

// Fonts
$openSans: 'Open Sans', sans-serif;
$font-family: $openSans;
$font-size: 12px;
$font-color: $black;
$font-weight: normal;


